@font-face {
    font-family: "busan";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/busan/busan.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/busan/busan.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/busan/busan.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/busan/busan.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/busan/busan.ttf") format("truetype");
    font-display: swap;
}
.busan {
    font-family: "busan";
}